.btn {
  width: 100%;
  background-color: #646cff;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add {
  width: 60%;
  background-color: #187a00;
  color: rgb(255, 255, 255);
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-add:hover {
  background-color: #15a000;
}

.btn:hover {
  background-color: #2e38ff;
}

.btn-nav {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

[data-theme="light"] .btn-nav {
  background-color: #2563eb;
  color: #ffffff;
  border: 1px solid #000000;
}

[data-theme="dark"] .btn-nav {
  background-color: #bfbfbf;
  color: #1f2937;
  border: 1px solid #ffffff;
}

.btn-nav:hover {
  transform: scale(1.05);
}
