.products-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 2rem;
}

.product-card {
  background-color: var(--b2);
  color: var(--body_color);
  border: 1px solid oklch(var(--bc) / 0.1);
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;

  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  border-color: oklch(var(--p));
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 1rem;
  color: oklch(var(--bc));
}

.product-info {
  text-align: center;
  margin-bottom: 1rem;
  color: oklch(var(--bc)) !important;
}

.price {
  color: var(--link_color);
  font-weight: bold;
}
